---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Banner from '../components/Banner.astro';
import Us from '../components/Us.astro';
import FanSection from '../components/FanSection.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="SpecialFan">
	<Navbar/>
	<!-- <Carrousel/> -->
	<main class="container">
		<Banner/>
		<section id="us">
			<Us/>
		</section>
		<section id="fanSection">
			<FanSection/>
		</section>
		<section id="contact">
			<Contact/>
		</section>
	</main>
	<Footer/>
</Layout>

<style>
	main {
		text-align: center;
	}
	section {
		margin: 1rem;
		padding: 1rem;
	}
</style>
