---
import fan1 from "../images/fan1.jpg";
import fan2 from "../images/fan2.jpg";
// import FanModal from './FanModal.astro';
import FanModal from './FanModal';
---

<div class="fanSection">
  <div class="fanType">
    <img src={fan1} alt="" />
    <div class="fanContent">
      <h3>Fan General</h3>
      <ul>
        <li>Contenido exclusivo</li>
        <li>Sorteos</li>
        <li>E-commerce oficial</li>
      </ul>
      <button
        type="button"
        class="btn w-100 btn-outline-danger"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Gratis
      </button>
    </div>
  </div>
  <div class="fanType">
    <img src={fan2} alt="" />
    <div class="fanContent">
      <h3>Fan Platino</h3>
      <ul>
        <li>Contenido exclusivo</li>
        <li>Sorteos épicos</li>
        <li>E-commerce oficial con colecciones limitadas</li>
        <li>Posibilidad de conocerlo</li>
      </ul>
      <button type="button" class="btn w-100 btn-outline-danger"> 3000$</button>
    </div>
  </div>
</div>

<FanModal/>

<style>
  .fanSection {
    display: flex;
    padding: 1rem;
    text-align: left !important;
  }
  .fanType {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
    width: 50%;
  }
  .fanType img {
    max-width: 18rem;
    width: 100%;
    height: 20rem;
  }
  .fanContent {
    margin-left: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .modal-dialog {
    text-align: left !important;
  }
</style>
