---
import fan1 from "../images/fan1.jpeg";
import fan2 from "../images/fan2.jpeg";
import FanModal from "./FanModal";
import { t } from "i18next";
---

<div class="fanSection">
  <div class="fanType">
    <img src={fan1} alt="" />
    <div class="fanContent">
      <h3>{t("fanSection.generalFan.title")}</h3>
      <ul>
        <li>{t("fanSection.generalFan.benefits.one")}</li>
        <li>{t("fanSection.generalFan.benefits.two")}</li>
        <li>{t("fanSection.generalFan.benefits.three")}</li>
      </ul>
      <button
        type="button"
        class="btn w-100 btn-outline-danger"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        {t("fanSection.generalFan.benefits.four")}
      </button>
    </div>
  </div>
  <div class="fanType">
    <img src={fan2} alt="" />
    <div class="fanContent">
      <h3>{t("fanSection.platinumFan.title")}</h3>
      <ul>
        <li>{t("fanSection.platinumFan.benefits.one")}</li>
        <li>{t("fanSection.platinumFan.benefits.two")}</li>
        <li>{t("fanSection.platinumFan.benefits.three")}</li>
        <li>{t("fanSection.platinumFan.benefits.four")}</li>
      </ul>
      <button type="button" class="btn w-100 btn-outline-danger"> 3000$</button>
    </div>
  </div>
</div>

<FanModal
  client:visible
  title={t("modal.title")}
  inputLabel={t("modal.inputLabel")}
  buttonLabel={t("modal.buttonLabel")}
/>

<style>
  .fanSection {
    display: flex;
    padding: 1rem;
    text-align: left !important;
  }

  .fanType {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
    width: 50%;
  }

  .fanType img {
    width: 17rem;
    height: 20rem;
    object-fit: cover;
  }

  .fanContent {
    margin-left: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal-dialog {
    text-align: left !important;
  }

  @media (max-width: 768px) {
    .fanSection {
      flex-direction: column;
    }
    .fanType {
      flex-direction: column;
      width: auto;
      justify-content: center;
    }
    .fanType img {
      width: auto;
      height: 15rem;
    }
    .fanContent {
      margin-left: 0;
      padding: auto;
    }
  }

  @media (min-width: 769px) and (max-width: 1399px) {
    .fanType {
      flex-direction: column;
    }
    .fanType img {
      width: auto;
      height: 15rem;
    }
    .fanContent {
      margin-left: 0;
      padding: auto;
      height: 50%;
    }
  }
</style>
