---
import logo from "../images/logo.png";
import { t } from "i18next";
import { LanguageSelector } from "astro-i18next/components";
---

<header>
  <nav class="navbar text-white d-flex" style="background-color: #1c2331">
    <div class="container-fluid">
      <div class="logo d-flex flex-row">
        <img src={logo} alt="" />
        <a class="nav-link" href="/">SpecialFan</a>
      </div>
      <div class="d-flex flex-row">
        <LanguageSelector id="langSelector" class="py-2 px-4 font-semibold" />
        <a class="nav-link" href="#us">{t("us.title")}</a>
        <a class="nav-link" href="#fanSection">{t("navbar.items.one")}</a>
        <a class="nav-link" href="#contact">{t("contact.contactForm.title")}</a>
      </div>
    </div>
  </nav>
</header>

<style>
  a {
    padding: 1rem;
    margin: 1rem;
  }
  header {
    position: sticky;
    top: 0;
  }
  .logo {
    margin-left: 10rem;
    align-items: center;
  }
  .logo img {
    height: 4rem;
  }
  .logo a {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
</style>
