<div class="us">
  <h2>¿Quiénes Somos?</h2>
  <p>
    Te conectamos con tu idolo de una manera unica, siendo parte de su comunidad oficial
  </p>
</div>

<style>
  .us {
    padding: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }

  .us p {
    margin-top: 1rem;
    font-size: 1.25rem;
  }
</style>
